@charset "UTF-8";

@media screen and (min-width:300px) and (max-width: 760px) {
    body {
        background-image: url(imagens/d54b27bdb579e57245c2f6b0473c9fce.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    
}